orchestrator/src/main/resources/CitizenServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. -->
<definitions targetNamespace="http://services.finesService.smartCity.com/" name="CitizenServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.finesService.smartCity.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.finesService.smartCity.com/" schemaLocation="CitizenServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCitizenFines">
    <part name="parameters" element="tns:getCitizenFines"/>
  </message>
  <message name="getCitizenFinesResponse">
    <part name="parameters" element="tns:getCitizenFinesResponse"/>
  </message>
  <message name="getCitizens">
    <part name="parameters" element="tns:getCitizens"/>
  </message>
  <message name="getCitizensResponse">
    <part name="parameters" element="tns:getCitizensResponse"/>
  </message>
  <message name="addCitizen">
    <part name="parameters" element="tns:addCitizen"/>
  </message>
  <message name="addCitizenResponse">
    <part name="parameters" element="tns:addCitizenResponse"/>
  </message>
  <message name="getCitizenById">
    <part name="parameters" element="tns:getCitizenById"/>
  </message>
  <message name="getCitizenByIdResponse">
    <part name="parameters" element="tns:getCitizenByIdResponse"/>
  </message>
  <portType name="CitizenService">
    <operation name="getCitizenFines">
      <input wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizenFinesRequest" message="tns:getCitizenFines"/>
      <output wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizenFinesResponse" message="tns:getCitizenFinesResponse"/>
    </operation>
    <operation name="getCitizens">
      <input wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizensRequest" message="tns:getCitizens"/>
      <output wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizensResponse" message="tns:getCitizensResponse"/>
    </operation>
    <operation name="addCitizen">
      <input wsam:Action="http://services.finesService.smartCity.com/CitizenService/addCitizenRequest" message="tns:addCitizen"/>
      <output wsam:Action="http://services.finesService.smartCity.com/CitizenService/addCitizenResponse" message="tns:addCitizenResponse"/>
    </operation>
    <operation name="getCitizenById">
      <input wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizenByIdRequest" message="tns:getCitizenById"/>
      <output wsam:Action="http://services.finesService.smartCity.com/CitizenService/getCitizenByIdResponse" message="tns:getCitizenByIdResponse"/>
    </operation>
  </portType>
  <binding name="CitizenServicePortBinding" type="tns:CitizenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCitizenFines">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCitizens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCitizen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCitizenById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CitizenServiceService">
    <port name="CitizenServicePort" binding="tns:CitizenServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

