orchestrator/src/main/resources/FinesServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. -->
<definitions targetNamespace="http://services.finesService.smartCity.com/" name="FinesServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.finesService.smartCity.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.finesService.smartCity.com/" schemaLocation="FinesServiceService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="getFineByIdFineAndIdCitizen">
        <part name="parameters" element="tns:getFineByIdFineAndIdCitizen"/>
    </message>
    <message name="getFineByIdFineAndIdCitizenResponse">
        <part name="parameters" element="tns:getFineByIdFineAndIdCitizenResponse"/>
    </message>
    <message name="getFines">
        <part name="parameters" element="tns:getFines"/>
    </message>
    <message name="getFinesResponse">
        <part name="parameters" element="tns:getFinesResponse"/>
    </message>
    <message name="getFine">
        <part name="parameters" element="tns:getFine"/>
    </message>
    <message name="getFineResponse">
        <part name="parameters" element="tns:getFineResponse"/>
    </message>
    <message name="addFine">
        <part name="parameters" element="tns:addFine"/>
    </message>
    <message name="addFineResponse">
        <part name="parameters" element="tns:addFineResponse"/>
    </message>
    <portType name="FinesService">
        <operation name="getFineByIdFineAndIdCitizen">
            <input wsam:Action="http://services.finesService.smartCity.com/FinesService/getFineByIdFineAndIdCitizenRequest" message="tns:getFineByIdFineAndIdCitizen"/>
            <output wsam:Action="http://services.finesService.smartCity.com/FinesService/getFineByIdFineAndIdCitizenResponse" message="tns:getFineByIdFineAndIdCitizenResponse"/>
        </operation>
        <operation name="getFines">
            <input wsam:Action="http://services.finesService.smartCity.com/FinesService/getFinesRequest" message="tns:getFines"/>
            <output wsam:Action="http://services.finesService.smartCity.com/FinesService/getFinesResponse" message="tns:getFinesResponse"/>
        </operation>
        <operation name="getFine">
            <input wsam:Action="http://services.finesService.smartCity.com/FinesService/getFineRequest" message="tns:getFine"/>
            <output wsam:Action="http://services.finesService.smartCity.com/FinesService/getFineResponse" message="tns:getFineResponse"/>
        </operation>
        <operation name="addFine">
            <input wsam:Action="http://services.finesService.smartCity.com/FinesService/addFineRequest" message="tns:addFine"/>
            <output wsam:Action="http://services.finesService.smartCity.com/FinesService/addFineResponse" message="tns:addFineResponse"/>
        </operation>
    </portType>
    <binding name="FinesServicePortBinding" type="tns:FinesService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getFineByIdFineAndIdCitizen">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFines">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFine">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addFine">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FinesServiceService">
        <port name="FinesServicePort" binding="tns:FinesServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

